img{
    float:left;
}
.physical_bg{
    height:250px;
    width: 150px;
    margin-top: 400px;
    margin-left: 250px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: aquamarine;
    float: left;
    scale: 1.4;
    overflow:hidden;
    transition:ease-in-out;
    box-shadow: 7px 4px 6px;
}
.schemes_bg{
    height:250px;
    width: 150px;
    margin-top: 400px;
    margin-left: 300px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: aquamarine;
    float: left;
    scale: 1.4;
    overflow:hidden;
    transition:ease-in-out;
    box-shadow: 7px 4px 6px;
}
.soundofmind_bg{
    height:250px;
    width: 150px;
    margin-top: 400px;
    margin-left: 330px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: aquamarine;
    float:left;
    scale:1.4;
    overflow:hidden;
    transition:ease-in-out;
    box-shadow: 7px 4px 6px;
}
.physical_bg:hover{
    transition-property: size;
    transform:scale(1.1);
}

.schemes_bg:hover{
    transition-property: size;
    transform:scale(1.1);
}
.soundofmind_bg:hover{
    transition-property: size;
    transform:scale(1.1);
}
.search input[type=text]{
    width:350px;
    height:30px;
    border-radius:25px;
    border: none;
    justify-content: center;
}
     
.search{
    justify-content: center;
    margin:7px;
    padding-left: 490px;
}
     
.search button{
    background-color: #0074D9;
    color: #f2f2f2;
    justify-content: center;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.app{
    text-align: center;
    justify-content: center;
    padding-top: 200px;
    float: inline-start;
}